@model ProductsModel

@{
    ViewData["Title"] = "Editar cliente";
}

<h1>Editar cliente</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <input asp-for="id_Product" type="hidden" class="form-control" />
                <div class="mb-3">
                    <label asp-for="Name_Product" class="form-label">Name_Product</label>
                    <input asp-for="Name_Product" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Category_Product" class="form-label">Category_Product</label>
                    <input asp-for="Category_Product" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Price_Product" class="form-label">Price_Product</label>
                    <input asp-for="Price_Product" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Availability_Product" class="form-label">Availability_Product</label>
                    <select asp-for="Availability_Product" class="form-select">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Editar</button>

                        <a asp-action="Index">Regresar al listado</a>
                    </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        function confirmAction() {
            if (confirm('¿Estás seguro de editar este producto?')) {
                return true;
            } else {
                window.location.href = '@Url.Action("Index", "Products")';
                return false;
            }
        }
    </script>
}